    * {
        font-family: "Fira Sans", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    body {
        color: #141414;
    }
    
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
    
    .container {
        max-width: 1200px;
        padding: 120px 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 100px;
    }
    
    .subtitulo {
        font-size: 8rem;
        word-break: break-all;
        line-height: 1;
        text-transform: uppercase;
        max-width: 4ch;
    }
    
    .texto {
        max-width: 40ch;
        font-size: 1.5rem;
        line-height: 1.33;
        margin-bottom: 60px;
    }
    
    @media (max-width:800px) {
        .subtitulo {
            font-size: 3rem;
            text-transform: capitalize;
            /* Coloque !important para escrever acima de qualquer valor */
            max-width: initial !important;
        }
    }